[submodule "third_party/DHT22-sensor-driver"]
	path = third_party/DHT22-sensor-driver
	url = https://github.com/Filkolev/DHT22-sensor-driver.git
[submodule "third_party/Adafruit_Python_DHT"]
	path = third_party/Adafruit_Python_DHT
	url = https://github.com/adafruit/Adafruit_Python_DHT.git
